{
"iDrop_scATAC_default_2.Data" : [ [ "E100045521_L01_2_1.fq.gz", "E100045521_L01_2_2.fq.gz" ] ],
"iDrop_scATAC_default_2.Outdir" : "mtscATAC/Y_P2",
"iDrop_scATAC_default_2.SampleID" : "Y_P2",
"iDrop_scATAC_default_2.reference" : "mt_mm10",
"iDrop_scATAC_default_2.ProjectID" : "P21H28400N0232",
"iDrop_scATAC_default_2.readStructure" : "C4scATAClib_seqT1_R1_70_R2_50.json"
}
